@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #f7e4e1;
		--foreground: #6d83ad;
		--primary: #6d83ad;
		--primary-foreground: #f7e4e1;
		--secondary: #84a4bc;
		--secondary-foreground: #f7e4e1;
		--accent: #84a4bc;
		--accent-foreground: #f7e4e1;
		--border: #6d83ad;
	}
}

body {
	background-color: #f8f1ef;
	color: #6d83ad;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
